* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.secondary-text {
    color: hsl(228, 34%, 66%);
}

.subhead {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.body-dark {
    background: hsl(230, 17%, 14%);
    color: white;
}

.pattern-dark {
    position: absolute;
    top: 0em;
    width: 100%;
    height: 30%;
    background: hsl(232, 19%, 15%);
    z-index: -1;
}

.stat-green {
    color: hsl(163, 72%, 41%);
    display: flex;
    align-items: center;
}

.stat-red {
    color: hsl(356, 69%, 56%);
    display: flex;
    align-items: center;
}

.fb {
    border-top: 4px solid hsl(208, 92%, 53%);
}

.twitter {
    border-top: 4px solid hsl(203, 89%, 53%);
}

.insta {
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    position: absolute;
    top: 0;
}

.instacard {
    padding-top: 34px !important;
}

.yt {
    border-top: 4px solid hsl(348, 97%, 39%);
}

.container {
    margin: 30px 200px 40px;
}

.container header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.container header .toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container header div p {
    padding-top: 2px;
}

.container p {
    color: hsl(228, 34%, 66%);
}

.container .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.container .card {
    background: hsl(228, 28%, 20%);
    width: auto;
    height: auto;
    padding: 30px 60px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.container .card svg {
    margin-right: 4px;
}

.container .main .card h1 {
    font-size: 3em;
    padding-top: 20px;
}

.container .card:hover {
    background: hsl(228, 28%, 25%);
    box-shadow: 0 3px 10px hsl(228, 28%, 13%);
}

.container .overview {
    margin: 40px 0;
}

.container .overview h2 {
    margin-bottom: 20px;
}

.container .overview p {
    color: hsl(228, 34%, 66%);
    font-weight: bold;
}

.container .overview h1 {
    font-size: x-large;
}

.container .overview .overview-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.container .overview .overview-inner .tab {
    background: hsl(228, 28%, 20%);
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 5px;
}

.container .overview .overview-inner .tab:hover {
    background: hsl(228, 28%, 25%);
    box-shadow: 0 3px 10px hsl(228, 28%, 13%);
}


/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}